@import './grid';

@mixin drag-disable {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;

  user-select: none;
}

@mixin hover-guard {
  @media (hover: hover) {
    @content;
  }
}

@mixin absolute {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
